<html>
    <head>
        <title>Dojodachi!</title>
    </head>
    <body>
        <form action="/initiate/" method="post">
            <input type="submit" value="Start New Game"/>
        </form>
    </body>
</html>